#welcome-title {
    background-color: rgba(255 , 255, 255, 0.7);
    background-color: white;
    opacity: 0.5;
    text-align: center;
}

#main-jumbo {
    background: url("../imgs/pizza-jumbotron.png");
    background-size: cover;
}