* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    width: 100vh;
    height: 100vh;
    display: inline-grid;
    grid-template-columns: 50% 25% 25%
    grid-template-rows: 1fr 40% 15%  15% 3em ;
    grid-template-areas:
            "header menu   menu "
            "hero   hero   hero"
            "main   box-5  image"
            "main   box-5  extra"
            "banner banner banner";

}

main div {
    background-color: white;
    diplay:flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: black;
}

.menu {
    grid-area: red;
}

.hero {
    grid-area: darkblue;
}