.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
    }

h2{
    color: red;
    text-decoration: underline;
}

body{
    background-size: 100% 100%;
    background-color: darkseagreen;
    background-image: url("https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_1280.jpg");
    }

ul {
    list-style: square;
}

body{
    font-style: italic
    }

table{
    font-size: 40px ;
}

tr>td {
    font-size: 30px
    padding: 15px;
}

a:link {
    color:red;
}

a:visited {
    color:black;
}

a:hover {
    color:blue;
}

a:active {
    color:green;
}